/* colors */
html {
  --pink: #f6c1d9;
  --yellow: #ffe29e;
  --red: #f3736d;
  --blue: #897ffc;
  --orange: #feb389;
  --light-blue: #84b5fa;
  --border: #4d3f46;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-kerning: auto;
  --pink: #f6c1d9;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

p,
q {
  font-size: 1.8rem;
  font-family: "Prompt", sans-serif;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

body {
  background-size: 40px;
  background-image: repeating-linear-gradient(
    to right,
    var(--pink) 0px,
    var(--pink) 20px,
    var(--border) 20px,
    var(--border) 23px
  );
  background-attachment: fixed;
  margin: 0px;
}

.flex-orientation::before {
  display: block;
  background: repeating-linear-gradient(
    var(--pink) 0px,
    var(--pink) 40px,
    var(--border) 40px,
    var(--border) 43px
  );
  position: fixed;
  content: "";
  top: 0px;
  right: 0px;
  height: 100%;
  width: 51.3%;
  z-index: -3;
  border-left: #4d3f46 solid 3px;
}

.waves {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: -2;
  top: -200px;
  bottom: 0px;
}

@media screen and (max-width: 1000px) {
  .waves {
    top: -500px;
    width: 110%;
    left: -2em;
    top: -50px;
  }
}

.dots {
  position: fixed;
  z-index: -1;
  left: 2em;
  width: 100%;
  height: auto;
}

.cloud-sun {
  position: fixed;
  left: 1em;
}

.cloud {
  position: fixed;
  right: 2em;
  top: 30%;
}

.flex-orientation {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 8rem;
  z-index: 10;
  margin-bottom: 40rem;
}

.paddingbox,
.paddingboxgrid {
  background-color: white;
  margin: 0;
  padding: 2rem 2rem;
  border: 0.2rem solid var(--border);
  border-radius: 0.8em;
}

.paddingbox + .paddingbox {
  margin-block: 1.3em;
}

.text-colorful * {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: -2px -2px 0 #4d3f46, 0 -2px 0 #4d3f46, 2px -2px 0 #4d3f46,
    2px 0 0 #4d3f46, 2px 2px 0 #4d3f46, 0 2px 0 #4d3f46, -2px 2px 0 #4d3f46,
    -2px 0 0 #4d3f46;
}

.smallerbox {
  background-color: white;
  border: solid 3px var(--border);
  padding: 0.5em;
  width: 10em;
  margin: auto;
}

.r {
  color: var(--red);
}

.y {
  color: var(--yellow);
}

.lb {
  color: var(--light-blue);
}

.p {
  color: var(--pink);
}

.b {
  color: var(--blue);
}

.text-plain {
  padding-block: 0.8rem;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote .headline {
  margin-bottom: 1.3rem;
}

.quote .text-colorful * {
  font-size: 3rem;
}

.facts-grid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
  column-gap: 2%;
  row-gap: 25%;
  margin-inline: 8rem;
  margin-bottom: 40em;
  text-align: center;
}

.paddingboxgrid {
  border-radius: 0.4em;
}

.paddingboxgrid + .paddingboxgrid {
  margin-top: 0.5em;
}

/* Footer */

footer {
  position: relative;
}

footer::before {
  content: "";
  background-color: white;
  border: 3px solid var(--border);
  display: block;
  padding: 0.2em;
  margin: 0em 8em 0.5em 8em;
  border-radius: 0.8em;
}

.cloud-moon {
  position: absolute;
  z-index: 3;
  right: 30%;
  bottom: 50%;
}

.footer {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0 8em 2em 8em;
  border: solid 3px var(--border);
  padding: 2rem 2rem;
  border-radius: 0.8em;
  z-index: 1;
}

footer p {
  font-size: 1rem;
  padding: 0.3em;
}

footer h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0.3em;
}

.linkedin,
.github {
  padding-inline: 1em;
  transition: transform 0.3s ease;
}

.linkedin:hover,
.github:hover {
  transform: scale(110%);
}

/* responsiveness */

@media screen and (min-width: 1500px) {
  .waves {
    top: -500px;
  }
  .cloud-sun {
    left: 10%;
  }
  .cloud {
    right: 10%;
  }
  .flex-orientation {
    margin-inline: 20em;
    margin-top: 10rem;
  }
  .facts-grid {
    margin-inline: 20em;
  }

  .footer,
  footer::before {
    margin-inline: 20em;
  }
}
